<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f0f0f0;
        }

        .error-container {
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .error-title {
            font-size: 36px;
            color: #d9534f;
            margin-bottom: 20px;
        }

        .error-message {
            font-size: 18px;
            color: #777;
            margin-bottom: 20px;
        }

        .error-details {
            font-size: 14px;
            color: #999;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #d9534f;
            color: #fff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="error-container">
        <h1 class="error-title">Oops, an error occurred!</h1>
        <p class="error-message">
            <% if (error) { %>
                <p class="error-message">
                    <%= error.message %>
                </p>
                <% if (error.status==='fail' ) { %>
                    <p class="error-details">This might be due to invalid input or your request failing.</p>
                    <% } else { %>
                        <p class="error-details">An unexpected error happened on our server. We're working on fixing it!
                        </p>
                        <% } %>
                            <% } else { %>
                                <p class="error-details">No error information available.</p>
                                <% } %>
        </p>
        <a href="/login" class="btn">Go Back Home</a>
    </div>
</body>

</html>