<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hospital Management | Home</title>
  <!-- crypto-js cdn -->
  <script src="lib/crypto-js.min.js"></script>
  <!-- node-forg cdn -->
  <script src="lib/forge.min.js"></script>
</head>

<body>
  <header>
    <h1>patient home page</h1>
    <p><a href="/logout">Logout</a></p>
  </header>
  <br>

  <div class="sendRequest">
    <h2>Examination Request</h2>
    <form action="">
      <label for="doctorName">doctor name</label>
      <input type="text" name="doctorName" required>

      <label for="date"></label>
      <input type="date" name="date" required>

      <button type="submit">send</button>
    </form>
  </div>

  <br>

  <div class="sendMedicalHistory">
    <h2>Medical History</h2>
    <form action="">
      <label for="diseases">Chronic diseases</label>
      <input type="text" name="diseases" required>

      <label for="surgeries">Previous surgeries</label>
      <input type="text" name="surgeries" required>

      <label for="medications">Regularly used medications</label>
      <input type="text" name="medications" required>

      <button type="submit">send</button>
    </form>
  </div>

  <div class="CSRForm">
    <h2>Send Certificate Signing Request</h2>
    <form action="">
      <label for="commonName">Common Name</label>
      <input type="text" name="commonName" required>

      <label for="organizationName">Organization Name</label>
      <input type="text" name="organizationName" required value="Syrian Medical Center">

      <label for="countryName">Country Name</label>
      <input type="text" name="countryName" required value="SY">

      <button type="submit">send</button>
    </form>
  </div>

  <script>
    const userName = "<%= user.userName %>";
  </script>
  <!-- You don’t need to install socket.io-client in the client-side environment because the Socket.IO server serves the
  client library at /socket.io/socket.io.js. -->
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/js/socket-client.js"></script>
  <script type="module" src="/js/patient.js"></script>
</body>

</html>