<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hospital Management | Home</title>
</head>

<body>
  <h1>doctor home page</h1>
  <p><a href="/logout">Logout</a></p>

  <!-- You don’t need to install socket.io-client in the client-side environment because the Socket.IO server serves the
  client library at /socket.io/socket.io.js. -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket-client.js"></script>
</body>

</html>